.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
vaccine_coverage/
plots/
outcome/
gavi_*.txt
central_burden_estimate/
stochastic_burden_estimate/
data-raw/201910gavi-5_dds-201910_*.csv
data-raw/central-burden-template.201910gavi-5.Measles_LSHTM-Jit_standard.csv
vac_coverage_upd/scenarios/
